
.vertical-line {
  position: absolute;
  left: 400px;
  top: 0px;
  width: 2px;
  height: 2000px;
  background-color: black;
}

.table {
  top: 0px;
  width: 300px;
  height: 200px;
  margin: 10px;
  background-color: lightblue;
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;

}
.food {
  justify-content: space-between;
  display: inline-flex;
  position: relative; 
  width: 500px;
  height: 75px;
  background-color: rgb(230, 173, 173);
  border: 2px solid black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 10px auto;
}



.move{
    margin: 25px;
    top: 10px;
    position:absolute;
}
.head{
    text-align: center;
}
#main{
  display: inline-flex;
}
#foods{
 
  margin-left: 400px;
}
.name{
  text-align: left;
  font-weight: bolder;
}
.price{
  text-align: right;
  font-weight: bolder;
}
#MyId1{
   flex: 1;
  width: 20px;
}
#MyId{
  flex: 4;
  width: 20px;
  padding: 10px;
  margin-left: 200px;
}
.Search{
  display: flex;

  align-items: center;
}
.head2{
padding: auto;
  
}
.addelements{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 180px;
}
.popclass{
  margin-left: 200px;
  background-color: white;
 opacity: 1;
  height: 500px;
  width: 800px;
 position: fixed; 
 text-align: center;
  z-index: 10;
  top: 300px;
  left: 500px;
  right: 500px;
  overlay: auto;
  bottom: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
   border: 2px solid black;
   font-size:x-large;
   -indzex:20;
   backdrop-filter: blur(3px);
   
 
}
.ClosePopup{
 position: absolute;
 right:0px;
 top:0px;
 cursor: pointer;
}
table,tr,th,td{
  border: 1px solid black;
  height:fit-content;
  padding: 5px;
  margin-top: 80px;

}
.plus{
margin-left: 50x;
cursor: pointer;
}
.generateBill{
  background-color: red;
  border-radius: 5px;
  box-shadow: 5px;
  border: 2px solid black;
  cursor: pointer;
}
.minus{
  cursor: pointer;
}
.remove{
  cursor: pointer;
}
.temp{
  
     -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}